@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');
@import '~video-react/styles/scss/video-react';

@font-face {
  font-family: "ExplorerFree-Regular";
  font-style: normal;
  src: url("../../fonts/ExplorerFree-Regular.otf") format("opentype");
}
$explorer: "ExplorerFree-Regular", sans-serif;
$headings-font-family:  'DM Serif Display', serif;
//$headings-font-family:  $explorer;
$body-font-family: 'Muli', sans-serif;

$congo-pink: #f77d72;
$burgundy: #800020;
$independence: #575b79;
$rich-black: #080705;
$charcoal: #40434E;
$vivid-burgundy: #9F1D35;
$baby-powder: #FFFFFA;
$wine: #702632;
$old-burgundy: #43302E;
$jet: #303036;
$taupe-gray: #84828F;
$raisin-black: #28272B;
$space-cadet: #2C2E4C;
$ghost-white: rgba(232, 237, 242, 0.62);
$rhythm: #6A6C82;

$danger: $burgundy;
$primary: $congo-pink;
$info: $independence;
$success: $space-cadet;
$light: $ghost-white;
$text-muted: $independence;

$body-font-color: $raisin-black;

@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: $body-font-family;
  color: $body-font-color;
}

.hr-sm {
  max-width: 5rem;
  margin-top: 0;
  border-top-width: 5px;
}

.hr-primary {
  background-color: $congo-pink;
}

.hr-info {
  background-color: $independence;
}

.colorful-border {
  content: "";
  top: 0;
  left: 0;
  //width: 100%;
  border-width: 0;
  border-top: 7px solid;
  -o-border-image: -o-linear-gradient(left, $space-cadet, $space-cadet 20%, $independence 20%, $independence 40%, $primary 40%, $primary 60%, $vivid-burgundy 60%, $vivid-burgundy 80%, $space-cadet 80%) 1;
  border-image: -webkit-gradient(linear, left top, right top, from($space-cadet), color-stop(20%, $space-cadet), color-stop(20%, $independence), color-stop(40%, $independence), color-stop(40%, $primary), color-stop(60%, $primary), color-stop(60%, $vivid-burgundy), color-stop(80%, $vivid-burgundy), color-stop(80%, $space-cadet)) 1;
  border-image: linear-gradient(to right, $space-cadet, $space-cadet 20%, $independence 20%, $independence 40%, $primary 40%, $primary 60%, $vivid-burgundy 60%, $vivid-burgundy 80%, $space-cadet 80%) 1;
}

// Yearbook
.message {
  &.form {
    input, textarea {
      background-color: $space-cadet;
      border: none;
      color: white;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 0.5; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: white;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: white;
    }
  }
  background-color: $space-cadet;
  border-bottom-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
  color: $white;
  font-size: 1.2rem;
  .name {
    font-weight: 600;
  }
}

// Navigation
//header {
//  background-color: $burgundy;
//}

// Hero js

.hero {
  .hero-copy {
    //border-top-right-radius: 0.5rem;
    //border-bottom-right-radius: 0.5rem;
    //background-color: #A8175F;
    position: relative;
    background-color: $burgundy;

    .img {
      position:absolute;
      &.top {
        top: 0
      }
      &.bottom {
        bottom: 0
      }
    }
  }

  .hero-img {
    img {
     // border-bottom-left-radius: 0.5rem;
      //border-top-left-radius: 0.5rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Graduation
.section {
  &.graduation {
    background-color: $space-cadet;
    color: $white;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    //background-attachment: fixed;

    .text-underline-danger {
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(247, 125, 114, 0.8)));
    }
  }
  &.memories {
    background-color: $ghost-white;
    img {
      padding-left: 1rem;
      padding-right: 1rem;
      object-fit: contain;
    }

    .BrainhubCarousel__arrows {
      border-radius: 0.25rem;
      background-color: $primary;
      &:hover {
        background-color: rgba(247, 125, 114, 0.8);
      }
    }
  }
  &.watch-party {
    background-repeat: repeat;
    background-position: center;
    background-size: 500px;
    background-attachment: fixed;

    .invite {
      background-color: $space-cadet;
    }
  }
}

[class*=text-underline-] {
  background: repeat-x left 1em/1em .15em;
}


.text-underline-danger {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(247, 125, 114, 0.8)));
  //background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 0, 32, 0.4)));
}

// Bootstrap Styles

a {
  &.btn-danger {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.video-react {
  border: 10px solid #f5f5f5;
  margin: 0 auto;
}

.video-react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .video-react-big-play-button {
    &:before {
      position: relative;
      margin-left: -2.45px;
    }
  }
  &:hover {
    .video-react-big-play-button {
      &:before {
        display: block;
        position: absolute;
        left: 10%;
        transition: 0.3s;
      }
      top: initial;
      left: initial;
      width: 1.5em;
      background-color: #f7958c;
      border-color: #f7958c;
    }
  }
  .video-react-big-play-button {
    top: initial;
    left: initial;
    width: 1.5em;
    background-color: $congo-pink;
    border-color: $congo-pink;
    &:focus, &:hover {
      background-color: #f7958c;
      border-color: #f7958c;
    }
  }
}

.video-container {
  background: #f5f5f5;
  width: 350px;
  margin: 0 auto;

  p {
    color: #2C2E4C;
    font-size: 1em;
    padding: 1em 0;
  }
}

@media screen and (max-width: 600px) {
  .hero > .row {
    flex-direction: column;
  }
}